body{
    padding: 8%;
}

@media screen and (max-width: 480px) {
    body{
        padding: 50% 0% 0%;
    }
}

.container{
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
    width: 230px;
    margin: 0 auto;
}
.header{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.left{
    background-color: rgba(33, 33, 33, 0.08);
    border-radius: 16px;
    text-align: center;
    line-height: 20px;
    margin: 16px;
}
.right{
    background-color: rgba(33, 33, 33, 0.08);
    border-radius: 16px;
    text-align: center;
    line-height: 20px;
    margin: 16px;
}
p{
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    margin: 6px 12px; 
}
.body{
    padding: 16px 0px;
}
.picture{
    display: block;
    width: 150px;
    height: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .picture{
        display: block;
        width: 100%;
    }
}

.footer{
    padding: 0px 0px 16px;
}
.up{
    display: block;
    color: white;
    background: #27AE60;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    width: 124px;
    padding: 8px 0px;
    margin: 16px auto;
} 
.down{
    display: block;
    color: white;
    background: #EB5757;
    border-radius: 4px;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    width: 100px;
    padding: 8px 0px;
    margin: 0 auto;
}
.clear {
    clear: both;
}

